---
title: Neue Features
permalink: /was-ist-neu
vergleichs_punkte:
  - titel: 1. Schwarze Nadelabdeckung (wiederverwendbar)
    beschreibung: >-
      Nach dem Gebrauch ausgetauscht, um Verletzungen mit der Injektionsnadel zu
      vermeiden, ist elastisch und latexfrei
    anapen_1: false
    anapen_2: true
  - titel: 2. Graue Sicherheitskappe
    beschreibung: >-
      Muss vor der Verwendung entfernt werden, um einen versehentlichen Einsatz
      zu verhindern
    anapen_1: false
    anapen_2: true
  - titel: 3. Etikett am Nadelende
    beschreibung: 'Definiert klar, welches Ende zum Spritzen verwendet wird'
    anapen_1: false
    anapen_2: true
  - titel: 4. Inspektionsfenster
    beschreibung: >-
      Gibt einen Nachweis darüber, ob das Adrenalin klar, farblos und fertig für
      den Gebrauch ist
    anapen_1: false
    anapen_2: true
  - titel: 5. Rote Injektionsanzeige
    beschreibung: 'Bestätigt, dass das Adrenalin verabreicht wurde"'
    anapen_1: false
    anapen_2: true
  - titel: 6. Manipulationssicherer Verschluss
    beschreibung: Verriegelt die oberen und unteren Gehäuseteile zum Schutz vor Manipulation
    anapen_1: false
    anapen_2: true
bild_path: /uploads/anapen-300-2.jpg
---

<h2 class="editable">Der orginale Anapen wurde durch die folgenden 6 Features erweitert, um die Nutzerfreundlichkeit und Sicherheit zu verbessern:</h2>

<!-- MOBILE VERSION TABLE -->
<table class="table comparison-table--2 visible-xs">
  <thead>
    <tr>
      <td class="text-center comparison__cell--feature editable">
        Anapen²
      </td>
    </tr>
  </thead>
  <tbody>
    {% for punkt in page.vergleichs_punkte %}
      <tr>
        <td class="col-xs-8">
          <strong>{{punkt.titel}}</strong><br />
          <li>{{punkt.beschreibung}}</li>
        </td>
        <td class="col-xs-4 comparison__cell--check comparison__cell--feature">
          {% if punkt.anapen_2 %}
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          {% else %}
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<!-- DESKTOP VERSION TABLE -->
<table class="table comparison-table">
  <thead>
    <tr>
      <td class="hidden-xs">
      </td>
      <td class="text-center editable">
        Anapen
      </td>
      <td class="text-center comparison__cell--feature hidden-xs editable">
        Anapen²
      </td>
    </tr>
  </thead>
  <tbody>
    {% for punkt in page.vergleichs_punkte %}
      <tr>
        <td class="col-xs-8 col-sm-6">
          <strong>{{punkt.titel}}</strong><br />
          <li>{{punkt.beschreibung}}</li>
        </td>
        <td class="col-xs-4 col-sm-3 comparison__cell--check">
          <div>
            {% if punkt.anapen_1 %}
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            {% endif %}
          </div>
        </td>
        <td class="hidden-xs col-sm-3 comparison__cell--check comparison__cell--feature">
          {% if punkt.anapen_2 %}
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          {% else %}
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
